/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";

    part-number = "BB-LCD-WAVESHARE-35";
    version = "00A0";

    /* ----------------------------------------------------------
     * Pinmux: disable conflicting pins from other capes
     * ---------------------------------------------------------- */
    fragment@0 {
        target = <&ocp>;
        __overlay__ {
            P8_8_pinmux  { status = "disabled"; };  /* D/C - gpio2[3] */
            P8_9_pinmux  { status = "disabled"; };  /* RESET - gpio2[5] */
            P8_10_pinmux { status = "disabled"; };  /* CS - gpio2[4] */
            P9_18_pinmux { status = "disabled"; };  /* SPI0_D1 MOSI */
            P9_21_pinmux { status = "disabled"; };  /* SPI0_D0 MISO */
            P9_22_pinmux { status = "disabled"; };  /* SPI0_SCLK */
            /* P9_4 is fixed 3.3V power, no pinmux needed */
        };
    };

    /* ----------------------------------------------------------
     * Pinmux: SPI0 + GPIO for display
     * ---------------------------------------------------------- */
    fragment@1 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            bb_spi0_pins: pinmux_bb_spi0_pins {
                pinctrl-single,pins = <
                    0x150 0x30    /* spi0_sclk (P9_22) OUTPUT | MODE0 */
                    0x154 0x30    /* spi0_d0 (P9_21) INPUT | MODE0 */
                    0x158 0x10    /* spi0_d1 (P9_18) OUTPUT | MODE0 */
                    /* CS (P8_10) controlled manually via GPIO68 */
                >;
            };

            bb_lcd_gpio_pins: pinmux_bb_lcd_gpio_pins {
                pinctrl-single,pins = <
                    0x094 0x07    /* P8_8 - D/C gpio2[3] OUTPUT */
                    0x09C 0x07    /* P8_9 - RESET gpio2[5] OUTPUT */
                    0x098 0x07    /* P8_10 - CS gpio2[4] OUTPUT */
                >;
            };
        };
    };

    /* ----------------------------------------------------------
     * Backlight
     * ---------------------------------------------------------- */
    fragment@2 {
        target-path = "/";
        __overlay__ {
            backlight_fixed: backlight_fixed {
                compatible = "gpio-backlight";
                gpios = <&gpio0 0 0>; /* Dummy GPIO for always-on (P9_4 3.3V) */
                default-on;
            };
        };
    };

    /* ----------------------------------------------------------
     * SPI0 display device node
     * ---------------------------------------------------------- */
    fragment@3 {
        target = <&spi0>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;
            pinctrl-names = "default";
            pinctrl-0 = <&bb_spi0_pins &bb_lcd_gpio_pins>;

            display@0 {
                compatible = "waveshare,pico-rt-lcd-35", "ili9488";
                reg = <0>;                        /* SPI CS0 */
                spi-max-frequency = <32000000>;   /* 32 MHz SPI */
                spi-cs-gpios = <&gpio2 4 0>;      /* manual CS - P8_10 gpio68 */

                dc-gpios    = <&gpio2 3 0>;       /* D/C - P8_8 gpio67 */
                reset-gpios = <&gpio2 5 0>;       /* RESET - P8_9 gpio69 */

                backlight = <&backlight_fixed>;
                rotation = <180>;

                width = <480>;
                height = <320>;
            };
        };
    };
};

